.home {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home:before {
  background-image: url(../assets/cover-optimized.jpg);
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}

.home > * {
  margin: 40px 0;
}

.home h1 {
  text-align: center;
  margin: 0;
  font-size: 3em;
}

.home a {
  background-color: #fa2d48;
  border-radius: 10px;
  padding: 12px;
}
