.product {
  margin: 0 25px 0 0;
}

.product img {
  max-width: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .product img {
    max-width: 150px;
  }
}

.product-name {
  margin: 0 0 10px 0;
}

.product-price {
  font-weight: bold;
  margin: 0 0 20px 0;
}
